/*
 * =============================================
 * Wofi Configuration Guide
 * =============================================
 * To see all available CSS selectors (#window, #input, #entry, etc.) and theme examples:
 * https://cloudninja.pw/docs/wofi.html
 *
 * To look up launch options and general parameters in the terminal:
 * man wofi
 */

/* GTK syntax colors */
@define-color foreground #ffffff;
@define-color background #030f1b;
@define-color accent #00ffff;
@define-color accent_hover #00d9d9;
@define-color card_bg #061B37;
@define-color text_dark #030f1b;
@define-color muted #45475a;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    border-radius: 0;
    text-shadow: none;
    background: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid @card_bg;
    background-color: @background;
}

#outer-box {
    margin: 5px;
}

#inner-box, 
#scroll {
    margin: 0px;
    padding: 0px;
}

#input {
    all: unset;
    padding: 10px 0;
    background: @card_bg;
    color: @foreground;
}

#input image {
    padding: 0 12px;
    /* color: @card_bg; hide search & delete */
}

#text {
    color: @foreground;
}

#entry {
    border: none;
    padding: 5px;
}

#entry arrow {
    padding-left: 8px;
    color: @foreground;
}

#entry:hover {
    background-color: alpha(@background, 0.2);
}


#entry:selected {
    background-color: @accent;
}

#entry:selected #entry:selected {
    background-color: alpha(@background, 0.3);
}


#entry:selected arrow {
    color: @text_dark;
}

#entry:selected #text {
    color: @text_dark;
}

#img {
    padding: 0 8px;
}