/*
 * =============================================
 * Wofi Configuration Guide
 * =============================================
 * To see all available CSS selectors (#window, #input, #entry, etc.) and theme examples:
 * https://cloudninja.pw/docs/wofi.html
 *
 * To look up launch options and general parameters in the terminal:
 * man wofi
 */

/* GTK syntax colors */
@import url("/home/famtiago/.config/theme/css/current.css");

@define-color text         @fg;
@define-color background   @bg0;
@define-color background-alt @bg1;
@define-color border       @bd;

@define-color selected     @blue;
@define-color hover        alpha(@bg4, .3);

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    border-radius: 0;
    text-shadow: none;
    background: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid @border;
    background-color: @background;
}

#outer-box {
    margin: 5px;
}

#inner-box,
#scroll {
    margin: 0px;
    padding: 0px;
}

#input {
    all: unset;
    padding: 10px 0;
    background: @background-alt;
    color: @text;
}

#input image {
    padding: 0 12px;
    /* color: @card_bg; hide search & delete */
}

#text {
    color: @text;
}

#entry {
    border: none;
    padding: 5px;
}

#entry arrow {
    padding-left: 8px;
    color: @text;
}

#entry:hover {
    background-color: @hover;
    border: none;
}


#entry:selected {
    background-color: @selected;
}

#entry:selected #entry:selected {
    background-color: alpha(@background, 0.3);
}


#entry:selected arrow {
    color: @background;
}

#entry:selected #text {
    color: @background;
}

#img {
    padding: 0 8px;
}
