* {
    color: #fff;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
}

window#waybar {
    border-radius: 0px;
    border-bottom: 1px solid #313131;
    background: #0c0c0d; /* background-menu #101010, selected #303030, background-alternative #030f1b */
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.active {
    margin: 4px 0;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.empty {
    opacity: 0.5;
}

#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-launcher,
#custom-update,
#custom-power,
#custom-swaync {
    min-width: 12px;
    margin: 0 7.5px;
}

tooltip {
    padding: 4px;
}

#custom-update {
    font-size: 10px;
}

.hidden {
    opacity: 0;
}
